# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Application Uploads & Exports Cache
uploads/*
!uploads/.gitkeep
exports/*
!exports/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
